<template>
  <div class="container">
    <section class="title-section">
      <div class="row">
        <div class="col text-center">
          <h1 class="title">
            Cocktail Project
          </h1>
        </div>
      </div>
    </section>
    <section class="search-section">
      <div class="row">
        <div class="col text-center">
          <h3 class="question">
            I want a drink with
          </h3>
        </div>
      </div>
      <form @submit.prevent="searchIngredient" @reset.prevent="resetAll">
        <div class="row question-row">
          <div class="col text-center">
            <input id="ingredient" v-model="ingredient" type="search" name="ingredient" :disabled="textDisabled">
          </div>
        </div>
        <div class="row search-button-row">
          <div class="col text-center">
            <button class="btn btn-light submit-button" type="submit">
              Search
            </button>
          </div>
        </div>
        <div class="row search-button-row">
          <div class="col text-center">
            <button class="btn btn-light submit-button" type="reset">
              Reset
            </button>
          </div>
        </div>
      </form>
    </section>
    <section v-if="ingredientID" class="about-section">
      <div class="card">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h4 class="about-title">
                About {{ ingredient }}
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <span class="badge badge-dark">{{ ingredientAlcoholic }}</span>
              <span v-if="ingredientABV" class="badge badge-dark">{{ ingredientABV }}%</span>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="about-description">
                {{ ingredientDesc }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="drinks-list-section">
      <div class="row">
        <div v-for="drink in drinks" :key="drink.idDrink" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="card" @click="getRecipe(drink.idDrink)">
            <div class="row">
              <div class="col-4 text-center">
                <img :src="drink.strDrinkThumb" width="60" height="60">
              </div>
              <div class="col-7 text-right d-flex align-items-center justify-content-end">
                {{ drink.strDrink }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section v-if="drinkID" class="specific-drink-section">
      <div class="card">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <span class="badge badge-light">{{ drinkAlcoholic }}</span>
              <span class="badge badge-light">{{ drinkCategory }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <img class="drink-img" :src="drinkThumbnail" width="100" height="100">
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <h3 class="drink-name">
                {{ drinkName }}
              </h3>
            </div>
          </div>
          <div class="row">
            <div v-for="(drinkIngredient, key) in drinkIngredients" :key="key" class="col-12 text-center">
              <p>{{ drinkIngredient[1] }} {{ drinkIngredient[0] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="instructions">
                {{ drinkInstructions }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      drinkAlcoholic: '',
      drinkCategory: '',
      drinkID: '',
      drinkIngredients: [],
      drinkInstructions: '',
      drinkName: '',
      drinkThumbnail: '',
      drinks: [],
      ingredient: '',
      ingredientABV: '',
      ingredientAlcoholic: '',
      ingredientDesc: '',
      ingredientID: '',
      textDisabled: false
    }
  },
  watch: {
    // eslint-disable-next-line object-shorthand
    ingredientID: function () {
      this.searchCocktails()
    },
    // eslint-disable-next-line object-shorthand
    drinkName: function () {
      setTimeout(() => {
        window.scrollTo(0, document.body.scrollHeight)
      }, 1000)
    }
  },
  methods: {
    getRecipe (drinkID) {
      this.drinkID = drinkID
      this.$axios.get('lookup.php', {
        method: 'GET',
        headers: {
          'content-type': 'application/octet-stream',
          'x-rapidapi-host': 'the-cocktail-db.p.rapidapi.com',
          'x-rapidapi-key': process.env.RAPIDAPI_KEY,
          useQueryString: true
        },
        params: {
          i: this.drinkID
        }
      })
        .then((response) => {
          this.drinkAlcoholic = response.data.drinks[0].strAlcoholic
          this.drinkCategory = response.data.drinks[0].strCategory
          this.drinkInstructions = response.data.drinks[0].strInstructions
          this.drinkName = response.data.drinks[0].strDrink
          this.drinkThumbnail = response.data.drinks[0].strDrinkThumb
          this.drinkID = response.data.drinks[0].idDrink

          const ingredientsArray = []
          let ingredientStr = ''
          let measurementStr = ''

          for (let i = 1; i <= 15; i++) {
            const ingredientsInnerArray = []
            ingredientStr = 'strIngredient' + i
            measurementStr = 'strMeasure' + i

            if (response.data.drinks[0][ingredientStr] == null) {
              continue
            }

            ingredientsInnerArray.push(response.data.drinks[0][ingredientStr])
            ingredientsInnerArray.push(response.data.drinks[0][measurementStr])
            ingredientsArray.push(ingredientsInnerArray)
          }

          this.drinkIngredients = ingredientsArray
        })
        .catch((err) => {
          console.log(err)
        })
    },

    resetAll () {
      this.drinkAlcoholic = ''
      this.drinkCategory = ''
      this.drinkID = ''
      this.drinkIngredients = ''
      this.drinkInstructions = ''
      this.drinkName = ''
      this.drinkThumbnail = ''
      this.drinks = ''
      this.ingredient = ''
      this.ingredientABV = ''
      this.ingredientAlcoholic = ''
      this.ingredientDesc = ''
      this.ingredientID = ''
      this.textDisabled = false
    },

    searchCocktails () {
      this.$axios.get('filter.php', {
        method: 'GET',
        headers: {
          'content-type': 'application/octet-stream',
          'x-rapidapi-host': 'the-cocktail-db.p.rapidapi.com',
          'x-rapidapi-key': process.env.RAPIDAPI_KEY,
          useQueryString: true
        },
        params: {
          i: this.ingredient
        }
      })
        .then((response) => {
          this.drinks = response.data.drinks
        })
        .catch((err) => {
          console.log(err)
        })
    },

    searchIngredient () {
      this.$axios.get('search.php', {
        method: 'GET',
        headers: {
          'content-type': 'application/octet-stream',
          'x-rapidapi-host': 'the-cocktail-db.p.rapidapi.com',
          'x-rapidapi-key': process.env.RAPIDAPI_KEY,
          useQueryString: true
        },
        params: {
          i: this.ingredient
        }
      })
        .then((response) => {
          this.ingredientID = response.data.ingredients[0].idIngredient
          this.ingredient = response.data.ingredients[0].strIngredient
          this.ingredientDesc = response.data.ingredients[0].strDescription
          this.ingredientABV = response.data.ingredients[0].strABV
          this.ingredientAlcoholic = response.data.ingredients[0].strAlcohol === 'Yes' ? 'Alcoholic' : 'Non-Alcholic'
        })
        .catch((err) => {
          console.log(err)
        })
      this.textDisabled = true
    }
  }
}
</script>

<style lang="scss">
.container {
  padding: 48px 24px;
  .badge {
    font-family: 'Nunito Sans', sans-serif;
  }
  .about-section {
    margin: 128px auto;
    .card {
      background: 0;
      color: #B6B6B6;
      .container {
        padding: 12px;
        .about-description {
          font-family: 'Hind Guntur', sans-serif;
          padding: 12px 0;
        }
        .about-title {
          padding: 12px 0;
        }
      }
    }
  }
  .drinks-list-section {
    .card {
      background: rgba(173, 130, 114, 0.35);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      color: #B6B6B6;
      min-height: 70px;
      margin: 12px auto;
      img {
        border-radius: 5px;
      }
    }
  }
  .search-section {
    padding: 120px 0 0 0;
    .question {
      color: #D8D8D8;
    }
    .question-row {
      margin: 12px 0;
    }
    .search-button-row {
      margin: 12px 0 0 0;
      .submit-button {
        border: 0;
        background-color: #8C3E21;
        color: #D8D8D8;
      }
    }
  }
  .specific-drink-section {
    padding: 48px 12px;
    .card {
      background: rgba(173, 130, 114, 0.35);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      color: #D8D8D8;
      .container {
        padding: 12px;
        .drink-img {
          border-radius: 5px;
          margin: 12px 0;
        }
        .drink-name {
          font-size: 36px;
          padding: 12px 0;
        }
        .instructions {
          font-family: 'Hind Guntur', sans-serif;
          padding: 24px 0;
        }
      }
    }
  }
  .title-section {
    .title {
      color: #A68154;
      font-size: 58px;
    }
  }
}
</style>
